/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800;900&display=swap");
body{
    display: contents;
}
/* Reset */

/* section-topo */
.section-topo{
    background-color: #C02675;
}

.section-topo .text-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* section-topo */

/* section-2 */
.section-2{
    background-color: #FFD34E;
}

.section-2 .text-logo-2{
    text-align: center;
}
/* section-2 */

/* section-3 */
.section-3{
    background: #EA6400;
}

.section-3 .text-logo-3{
    text-align: center;
}
/* section-3 */

/* section-4 */
.section-4{
    background-color: #F48B48;
    height: 820px;
}

.section-4 .text-logo-4 .patinhas{
    width: 50%;
}

.section-4 .text-logo-4 .gif{
    text-align: center;
    position: relative;
    top: -255px;
}


.section-4 .text-logo-4 .logo {
    position: relative;
    top: -460px;
}
/* section-4 */

/* section-5 */
.section-5 {
    background-color: #FFD34E;
}

.section-5 .text-logo-5{
    display: flex;
    align-items: center;
    font-family: Nunito, sans-serif;
    text-align: center; 
    font-size: 600;
    justify-content: center;
}

.section-5 .text-logo-5 img{
    padding: 10px 50px;
}
/* section-5 */

/* section-6 */
.section-6 {
    background-color: #F48B48;
}

.section-6 .text-logo-6{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: Nunito, sans-serif;
    text-align: center; 
    font-size: 600;
    justify-content: center;
}

.section-6 .text-logo-6 img{
    padding: 10px 50px;
}
/* section-6 */

/* footer */
.footer{
    background: #E8D9CF;
    padding: 10px;
}

.footer .footer-interno{
    text-align: center;
}
/* footer */

.a-btn {
    font-family: Nunito, sans-serif;
    text-align: center; 
    position:relative!important; display: inline-block!important; 
    padding: 15px 40px; border-color: #8120ff; border-width: 0px; 
    border-radius: 35px; 
    background: linear-gradient(to bottom, #EA6400 0%, #f77a1a 100%); 
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); 
    }
    .span-btn {
        -webkit-font-smoothing: antialiased; 
        text-align: center;
        margin: 0; 
        border: 0; 
        display: block; 
        position: relative; 
        z-index: 1; 
        padding: 0 15px; 
        white-space: normal; 
        font-size: 25px;
        color: #ffffff; 
        font-weight: bold; 
        text-shadow: #000000 0px 1px 0px;
    }
    .span-btn2 {
        text-align: center;
        display: block; 
        font-family: Nunito, sans-serif;
        font-size: 15px;
        color: #000000; 
    }

/* responsivo */

