/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800;900&display=swap");
body{
    display: contents;
}
/* Reset */

/* section-topo */
.section-topo{
    background-color: #C02675;
}

.section-topo .text-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* section-topo */

/* section-2 */
.section-2{
    background-color: #FFD34E;
    height: 600px;
}

.section-2 .text-logo-2{
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.section-2 .text-logo-2 .zz{

    width: 33%;
}

.section-2 .text-logo-2 .balao{
    display: flex;
    position: relative;
    left: 70px;
}

.section-2 .text-logo-2 .balao img{
    width: 100%;
    height: 80%;
}

.section-2 .text-logo-2 .cachorro{
    display: flex;
    position: relative;
    right: 160px;
    top: 150px;
}

.section-2 .text-logo-2 .cachorro img{
    width: 110%;
}

.section-2 .text-logo-2 .aviso{
    position: relative;
    right: 151px;
    top: 50px;
}

.section-2 .text-logo-2 .aviso img{
    width: 100%;
    height: 80%;
}

/* section-2 */

/* section-3 */
.section-3{
    background: #EA6400;
}

.section-3 .text-logo-3{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3 .text-logo-3 img{
    width: 30%;
    height: 20%;
}
/* section-3 */

/* section-4 */
.section-4{
    background-color: #F48B48;
    height: 645px;
}

.section-4 .text-logo-4 .patinhas{
    width: 50%;
}

.section-4 .text-logo-4 .gif{
    text-align: center;
    position: relative;
    top: -200px;
}

.section-4 .text-logo-4 .logo {
    position: relative;
    display: flex;
    top: -485px;
    align-items: flex-end;
}

.section-4 .text-logo-4 .logo img{
    width: 30%;
}

.section-4 .text-logo-4 .logo .ddss{
    width: 50%;
    left: 60%;
}

/* section-4 */

/* section-5 */
.section-5 {
    background-color: #FFD34E;
}

.section-5 .text-logo-5{
    display: flex;
    align-items: center;
    font-family: Nunito, sans-serif;
    text-align: center;
    font-size: 600;
    justify-content: center;
}

.section-5 .text-logo-5 img{
    padding: 10px 50px;
}
/* section-5 */

/* section-6 */
.section-6 {
    background-color: #F48B48;
}

.section-6 .text-logo-6{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: Nunito, sans-serif;
    text-align: center; 
    font-size: 600;
    justify-content: center;
}

.section-6 .text-logo-6 img{
    padding: 10px 50px;
}
/* section-6 */

/* footer */
.footer{
    background: #E8D9CF;
    padding: 10px;
}

.footer .footer-interno{
    text-align: center;
}

.footer .footer-interno h1{
    font-size: 30px;
    font-family: Nunito, sans-serif;
    text-align: center; 
    font-size: 600;
}

.footer .footer-interno h3{
    font-size: 20px;
    font-family: Nunito, sans-serif;
    text-align: center; 
    font-size: 600;
}

.footer .footer-interno .serie {
    display: flex;
}

.footer .footer-interno .serie .cahor-mg img{
    position: relative;
    left: -100px;
    width: 100%;
}

.footer .footer-interno .serie .inter-mg-dd{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-interno .serie .inter-mg-dd img{
    width: 30%;
}
/* footer */

.a-btn {
    font-family: Nunito, sans-serif;
    text-align: center; 
    position:relative!important; display: inline-block!important; 
    padding: 15px 40px; border-color: #8120ff; border-width: 0px; 
    border-radius: 35px; 
    background: linear-gradient(to bottom, #EA6400 0%, #f77a1a 100%); 
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); 
    }
    .span-btn {
        -webkit-font-smoothing: antialiased; 
        text-align: center;
        margin: 0; 
        border: 0; 
        display: block; 
        position: relative; 
        z-index: 1; 
        padding: 0 15px; 
        white-space: normal; 
        font-size: 25px;
        color: #ffffff; 
        font-weight: bold; 
        text-shadow: #000000 0px 1px 0px;
    }
    .span-btn2 {
        text-align: center;
        display: block; 
        font-family: Nunito, sans-serif;
        font-size: 15px;
        color: #000000; 
    }

/* responsivo */

@media (max-width: 700px) {
    /* section-topo */
    .section-topo{
        background-color: #C02675;
    }

    .section-topo .text-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-topo .text-logo img{
        width: 80%;
    }
    /* section-topo */

    /* section-2 */
    .section-2{
        background-color: #FFD34E;
        height: 390px;
    }

    .section-2 .text-logo-2{
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .section-2 .text-logo-2 .zz{

        width: 33%;
    }

    .section-2 .text-logo-2 .balao{
        display: flex;
        position: relative;
        left: 30px;
    }

    .section-2 .text-logo-2 .balao img{
        width: 120%;
        height: 80%;
    }

    .section-2 .text-logo-2 .cachorro{
        display: flex;
        position: relative;
        right: 22px;
        text-align: center;
        top: 60px;
    }

    .section-2 .text-logo-2 .cachorro img{
        width: 150%;
    }

    .section-2 .text-logo-2 .aviso{
        position: relative;
        right: 127px;
        top: 212px;
    }

    .section-2 .text-logo-2 .aviso img{
        width: 130%;
        height: 80%;
    }

    /* section-2 */

    /* section-3 */
    .section-3{
        background: #EA6400;
    }

    .section-3 .text-logo-3{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        flex-direction: column;
    }

    .section-3 .text-logo-3 img{
        width: 80%;
        height: 30%;
    }
    /* section-3 */

    /* section-4 */
    .section-4{
        background-color: #F48B48;
        height: auto;
    }

    .section-4 .text-logo-4 .patinhas{
        width: 100%;
    }

    .section-4 .text-logo-4 .gif{
        text-align: center;
        position: relative;
        top: 0px;
    }

    .section-4 .text-logo-4 .gif img{
        width: 70%;
    }

    .section-4 .text-logo-4 .logo {
        display: flex;
        position: relative;
        top: 0px;
    }

    .section-4 .text-logo-4 .logo img{
        width: 40%;
    }
    .section-4 .text-logo-4 .logo .ddss{
        width: 70%;
        left: 15%;
    }
    /* section-4 */

    /* section-5 */
    .section-5 {
        background-color: #FFD34E;
    }

    .section-5 .text-logo-5{
        display: flex;
        align-items: center;
        font-family: Nunito, sans-serif;
        text-align: center; 
        font-size: 600;
        justify-content: center;
        flex-direction: column;
    }

    .section-5 .text-logo-5 img{
        width: 100%;
    }
    /* section-5 */

    /* section-6 */
    .section-6 {
        background-color: #F48B48;
    }

    .section-6 .text-logo-6{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Nunito, sans-serif;
        text-align: center;
        font-size: 600;
        justify-content: center;
    }

    .section-6 .text-logo-6 img{
        width: 100%;
    }
    /* section-6 */

    /* footer */
    .footer{
        background: #E8D9CF;
        padding: 10px;
    }

    .footer .footer-interno{
        text-align: center;
    }

    .footer .footer-interno h1{
        font-size: 30px;
        font-family: Nunito, sans-serif;
        text-align: center; 
        font-size: 600;
    }

    .footer .footer-interno h3{
        font-size: 20px;
        font-family: Nunito, sans-serif;
        text-align: center; 
        font-size: 600;
    }

    .footer .footer-interno .serie {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer .footer-interno .serie .cahor-mg img{
        position: relative;
        left: -0px;
        width: 95%;
    }

    .footer .footer-interno .serie .inter-mg-dd{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .footer-interno .serie .inter-mg-dd img{
        width: 50%;
    }
    /* footer */

    .a-btn {
        font-family: Nunito, sans-serif;
        text-align: center; 
        position:relative!important; display: inline-block!important; 
        padding: 15px 40px; border-color: #8120ff; border-width: 0px; 
        border-radius: 35px; 
        background: linear-gradient(to bottom, #EA6400 0%, #f77a1a 100%); 
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); 
        }
        .span-btn {
            -webkit-font-smoothing: antialiased; 
            text-align: center;
            margin: 0; 
            border: 0; 
            display: block; 
            position: relative; 
            z-index: 1; 
            padding: 0 15px; 
            white-space: normal; 
            font-size: 25px;
            color: #ffffff; 
            font-weight: bold; 
            text-shadow: #000000 0px 1px 0px;
        }
        .span-btn2 {
            text-align: center;
            display: block; 
            font-family: Nunito, sans-serif;
            font-size: 15px;
            color: #000000; 
        }

    /* responsivo */
    }