/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800;900&display=swap");
body{
    display: contents;
}
/* Reset */

/* section-topo */
.section-topo {
    position: relative;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    padding-top: 5px;
}

.section-topo .text-logo {
    color: #ffffff;
    text-align: center!important;
    font-family: Nunito, sans-serif;
}

.section-topo .text-logo .logo img{
    width: 125px;
    filter: brightness(10000%);
}
/* section-topo */

/* section-2 */
.section-2 .container{
    padding: 0px 50px;
}

.section-2 .definitivo h1{
    font-family: Nunito, sans-serif;
    font-size: 30px;
}

.section-2 .definitivo img{
    width: 20px;
    filter: grayscale(100%) hue-rotate(30deg);
}

.section-2 .definitivo p{
    font-family: Nunito, sans-serif;
    font-size: 20px;
}

.section-2 .definitivo-1 h1{
    font-family: Nunito, sans-serif;
    font-size: 30px;
}

.section-2 .definitivo-1 img{
    width: 25px;
    filter: grayscale(100%) hue-rotate(30deg);
}

.section-2 .definitivo-1 p{
    font-family: Nunito, sans-serif;
    font-size: 20px;
}

.section-2 .definitivo-1 h2{
    font-family: Nunito, sans-serif;
    font-size: 20px;
    text-align: center;
}

/* section-2 */



/* section-3 */
.section-3 .depoimentos{
    padding: 0px 50px;
}
.section-3 .depoimentos h1{
    font-family: Nunito, sans-serif;
    font-size: 30px;
    text-align: center;
}

.section-3 .depoimentos P{
    font-family: Nunito, sans-serif;
    font-size: 15px;
    text-align: center;
}

.section-3 .depoimentos .depo-img{
    text-align: center;
}

.section-3 .depoimentos .depo-img img{
    width: 250px;
}

.section-3 .depoimentos .depoiment-div-1{
    display: flex;
    justify-content: center;
}



.section-3 .depoimentos .depoiment-div-2{
    display: flex;
    justify-content: center;
}


/* section-3 */














.a-btn {
    font-family: Nunito, sans-serif;
    text-align: center; 
    position:relative!important; display: inline-block!important; 
    width: 40%; padding-left: 0!important; padding-right: 0!important; 
    padding: 15px 40px; border-color: #8120ff; border-width: 0px; 
    border-radius: 15px; 
    background: linear-gradient(to bottom, #118300 0%, #118300 100%); 
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5); 
    }
    .span-btn {
        text-decoration: none;
        -webkit-font-smoothing: antialiased; 
        text-align: center;
        margin: 0; 
        border: 0; 
        display: block; 
        position: relative; 
        z-index: 1; 
        padding: 0 15px; 
        white-space: normal; 
        font-size: 25px;
        color: #ffffff; 
        font-weight: bold; 
        text-shadow: #000000 0px 1px 0px;
        text-decoration: none;
    }
    .span-btn2 {
        text-align: center;
        display: block; 
        font-family: Nunito, sans-serif;
        font-size: 15px;
        color: #000000; 
    }